<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       https://www.springframework.org/schema/beans/spring-beans.xsd">

             <!--  ByName   -->
<!--    <bean id="engine" class="org.example.Engine"/>-->
<!--    <bean id="carByName" class="org.example.CarByName"  autowire="byName"/>-->

             <!-- ByType      -->
<!--    <bean id="eng" class="org.example.Engine"/>-->
<!--    <bean id="carbytype" class="org.example.CarByType"  autowire="byType"/>-->


</beans>